<nav class="navbar navbar-expand-lg mt-2 ">
  <div class="container-fluid navbar-container">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mx-auto d-flex justify-content-center  mb-2 mb-lg-0   ">
        <li class="nav-item">
          <a class="nav-link a-style" aria-current="page" routerLinkActive="Active" routerLink="/Home">الصفحة
            الرئيسية</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-style " aria-current="page" routerLinkActive="Active"
            routerLink="/Dashboard/CompanyIndex">مــعــلــومــات
            الــشــركــة</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-style " aria-current="page" routerLinkActive="Active"
            routerLink="/Dashboard/ServicesIndex">الــخــدمــات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-style " aria-current="page" routerLinkActive="Active"
            routerLink="/Dashboard/CategoryIndex">انـــواع الــمــنــتــجات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-style " aria-current="page" routerLinkActive="Active"
            routerLink="/Dashboard/ProductIndex">الــمــنــتــجات</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-style " aria-current="page" routerLinkActive="Active"
            routerLink="/Dashboard/ClientOrdersIndex">طــــلــــبــات الــــمـــســـتــخــدمــيــن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-style " aria-current="page" routerLinkActive="Active"
            routerLink="/Dashboard/UsersMessagesIndex">رســـــائــــل الــــمـــســـتــخــدمــيــن</a>
        </li>
        <li class="nav-item">
          <a class="nav-link a-style " aria-current="page" routerLinkActive="Active"
            routerLink="/Dashboard/QuestionsIndex"> اساله واجابات</a>
        </li>



      </ul>


    </div>
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
</div>