<div class="contact-us py-4" id="contact-us">
  <h2 class="h2-style">تواصل معنا</h2>
  <div class="contact px-5 container  d-flex  justify-content-center justify-content-lg-between flex-wrap">
    <div class="col-lg-4  col-md-6 col-12 text-center mb-3 ">
      <div class="d-flex justify-content-center align-items-center">
        <img src="Assets/Images/HomeImages/emailContact.png" alt="">
        <h5 class="mx-1"> للتـــواصـــل البريد الالـــكترونــي </h5>
      </div>
      <p class="p-text">{{comany.gmail}}</p>
    </div>
    <div class="col-lg-4 col-md-6 col-12 ">
      <div class="d-flex justify-content-center align-items-center">
        <img src="Assets/Images/HomeImages/MobileContact.png" alt="">
        <h5 class="mx-1"> للتـــواصـــل عبر الاتـــصـــال </h5>
      </div>
      <p class="p-text">{{comany.phone}}</p>
    </div>
    <div class="col-lg-4 col-md-6 col-12 ">
      <div class="d-flex justify-content-center align-items-center">
        <img src="Assets/Images/HomeImages/WhatsContact.png" alt="">
        <h5 class="mx-1"> للتـــواصـــل عبر الواتـــســاب </h5>
      </div>
      <p class="p-text">{{comany.phone}}</p>
    </div>
  </div>
</div>
