input {
  border-radius: 16px;
  background-color: #c5e2c6;
}
.cateories p {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #d9ecd9;
  color: var(--main-color);
  font-size: 24px;
  margin: 0 10px;
  cursor: pointer;
}
.cateories .active {
  background-color: var(--main-color);
  color: #fff;
}
.product {
  background-color: #f2f2f2;
  padding: 16px;
  border-radius: 32px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product button {
  background-color: var(--main-color);
  color: white;
  border-radius: 16px;
  border: none;
  width: 100%;
  padding: 5px;
}
.gapY {
  gap: 20px 0px;
}

.page-item1 {
  margin: 0px 8px;
  border-radius: 16px !important;
  color: #fff;
  font-size: 20px;
  background-color: #9fcfa1;
  text-align: center;
  padding: 5px 15px;
  cursor: pointer;
}
.page-item1 a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.active {
  background-color: var(--main-color);
}

@media (max-width: 768px) {
  .cateories p {
    padding: 4px 16px;
    border-radius: 16px;
    background-color: #d9ecd9;
    color: var(--main-color);
    font-size: 18px;
    margin: 0 8px;
    justify-content: flex-start;
  }
}
