.buttons button {
  border-radius: 8px;
  border: none;
  padding: 16px 40px;
  width: 48%;
}

@media (max-width: 768px) {
  .buttons button {
    width: 100%;
    margin-bottom: 15px;
  }
}
.contactUs {
  background-color: #ff7d00;
  color: #fff;
}
